################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.idea/.idea.AsyncNet
/.vs/AsyncNet
/AsyncNet/Properties/PublishProfiles
/AsyncNet/obj
/AsyncNet/bin
*.TMP
*.user
/Stock/bin/Debug/netcoreapp3.1
/Stock/obj
/XVideo/Properties/PublishProfiles
/XVideo/obj
/XVideo/bin
/.vs/XVideo/v16/.suo
/.vs/XVideo/v16
/.vs/XVideo/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
